h1 {
    text-align: center;
    margin: 10px; 
    font-family: 'Yusei Magic', sans-serif;
    color: #0E2999;
}
.logo {
    width: 200px; 
    height: 200px; 
}

.form {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: 'Yusei Magic', sans-serif;
    color: #0E2999;
    border-radius: 30px; 
}

.body {
    margin: 0; 
    font-family: 'Yusei Magic', sans-serif;
    color: #0E2999;
}

input {
    font-size: 20px; 
    text-align: center; 
    font-family: 'Yusei Magic', sans-serif;
    border-radius: 30px; 
    margin: auto; 
    display: block; 
}

button {
    border-radius: 30px;
    background-color: #22B7F0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 80px;
    display: block; 
    margin: auto;
    border-style: solid;
    border-color: darkblue; 
    font-family: 'Yusei Magic', sans-serif;
  }
  
button:hover  {
    background-color: #83F4F5;
}
  
